body {
  background: #ffffff;
  font-family: "Poppins", sans-serif;
}
.custom-table {
  background-color: #3f3f3f;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}
.custom-table thead {
  background-color: #797979;
  color: #ffffff;
}
.custom-table th {
  padding: 14px;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}
.custom-table td {
  padding: 12px;
  color: #0005a0;
}
.custom-table td {
  padding: 12px;
  vertical-align: middle;
}

.custom-table tbody tr:hover td {
  background-color: #0d6efd !important;
  color: #ffffff !important;
  transform: scale(1.05);
}

/* Smooth transition */
.custom-table tbody tr td {
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    transform 0.2s ease;
}
